name: Build

on:
  push:
    paths: 
    - 'docker-toolbox/**'
    - 'docker-fio/**'
    branches:
      - 'master'

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      -
        name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Build and push toolbox
        uses: docker/build-push-action@v3
        with:
          push: true
          file: docker-toolbox/Dockerfile
          tags: shaowenchen/toolbox:latest
      -
        name: Build and push fio
        uses: docker/build-push-action@v3
        with:
          push: true
          file: docker-fio/Dockerfile
          tags: shaowenchen/demo-fio:latest