name: docker-demo

on:
  push:
    paths:
      - "docker/demo/**"
    branches:
      - master
  workflow_dispatch:
jobs:
  docker-demo:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
      # - name: Build and push 3fsbuilder
      #   run: |
      #     docker buildx build --push --platform=linux/arm64 -t shaowenchen/demo-3fsbuilder:latest-arm64 -f docker/demo/Dockerfile.3fsbuilder .
      - name: Build and push 3fs
        run: |  
          docker buildx build --push --platform=linux/arm64 -t shaowenchen/demo-3fs:latest-arm64 -f docker/demo/Dockerfile.3fs .
